[Desktop Entry]
Name=Waylex
Comment=AI Translation Desktop Tool
Exec=Waylex
Icon=com.xym.ft.Waylex
Type=Application
Categories=Utility;Translation;Office;
StartupNotify=true
Terminal=false
Keywords=translate;translation;ocr;ai;clipboard;
